In [8]:
import json
import pandas as pd
import pandas_datareader as pdr
import numpy as np
from selenium import webdriver
import yfinance as yf
import time
import scipy
from IPython.display import display

In [2]:
DFList:list=[pd.DataFrame] * 5;

In [3]:
FileIO=open('IRSG.json','r');
DictObjs:dict=json.load(FileIO);
DFList[0]:pd.DataFrame=pd.json_normalize(DictObjs,record_path=['result','records']);
display(DFList[0])
Sora_Quantile=DFList[0]['comp_sora_3m'].quantile([0.25,0.5,0.75,0.95,1.0]).to_dict();

,end_of_day,comp_sora_1m,comp_sora_3m,comp_sora_6m,aggregate_volume,timestamp
0,2023-04-11,NaN,NaN,NaN,NaN,1681230983
1,2023-04-10,3.6302,3.6127,3.3202,1288.0,1681230983
2,2023-04-06,3.6497,3.6156,3.3189,1086.0,1681230983
3,2023-04-05,3.6753,3.6135,3.3173,1549.0,1681230983
4,2023-04-04,3.6796,3.6042,3.3147,1402.0,1681230983
...,...,...,...,...,...,...
495,2021-04-21,0.1488,0.1840,0.1755,2150.0,1681230983
496,2021-04-20,0.1514,0.1841,0.1752,1577.0,1681230983
497,2021-04-19,0.1529,0.1835,0.1750,2070.0,1681230983
498,2021-04-16,0.1569,0.1844,0.1751,2299.0,1681230983
499,2021-04-15,0.1652,0.1834,0.1744,1952.0,1681230983

In [9]:
DriverObjs:selenium.webdriver.firefox.webdriver.WebDriver=webdriver.Firefox();
DriverObjs.get('https://www.set.or.th/en/market/statistics/short-sell');
time.sleep(2);
print(DriverObjs.title);
DriverObjs.find_element(webdriver.common.by.By.XPATH,'//*[@id=\"__layout\"]/div/div[2]/div[3]/div/div/div[2]/div/div[2]/button').click();
pass; #similar to __asm__("nop")
time.sleep(2);

Short Selling - The Stock Exchange of Thailand